.icrsl_320 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 980px; /*980*/
    height: 320px; /*150*/
    overflow: hidden;
    visibility: hidden;
}

.imgrow {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 980px;/*980*/
    height: 320px; /*150*/
    overflow: hidden;
}

.bnavigator {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.readmore {
    position: relative;
    top: 200px;
    left: 150px;
    height: 24px;
    width: 80px;
    background-color: gray;
    text-align: center;
    opacity:0.8;
}

.loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

.imgloading {
    margin-top: -19px;
    position: relative;
    top: 50%;
    width: 38px;
    height: 38px;
}

.arrowleft {
    width: 50px;
    height: 50px;
    top: 0px;
    left: 30px;
}

.arrowright {
    width: 50px;
    height: 50px;
    top: 0px;
    right: 30px;
}

.svg_viewBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prototype {
    width: 16px;
    height: 16px;
}


/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssorb057 .i {
    position: absolute;
    cursor: pointer;
}

    .jssorb057 .i .b {
        fill: none;
        stroke: #fff;
        stroke-width: 2000;
        stroke-miterlimit: 10;
        stroke-opacity: 0.4;
    }

    .jssorb057 .i:hover .b {
        stroke-opacity: .7;
    }

.jssorb057 .iav .b {
    stroke-opacity: 1;
}

.jssorb057 .i.idn {
    opacity: .3;
}

.jssora073 {
    display: block;
    position: absolute;
    cursor: pointer;
}

    .jssora073 .a {
        fill: #ddd;
        fill-opacity: .7;
        stroke: #000;
        stroke-width: 160;
        stroke-miterlimit: 10;
        stroke-opacity: .7;
    }

    .jssora073:hover {
        opacity: .8;
    }

    .jssora073.jssora073dn {
        opacity: .4;
    }

    .jssora073.jssora073ds {
        opacity: .3;
        pointer-events: none;
    }

.imgdata {
    position: relative;
    /*padding-left: 10px;*/
    height: 40px;
    width: inherit;
    background-color: gray;
    display: block;
    opacity:0.8;
    
}


.imgdata p {
  display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color:white; /* Цвет ссылки */
    top:4px;
    
}
.readmore a { 
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: #666; /* Цвет ссылки */
}
.type_headerdiv {
padding-left:20px;
background-color:#DCDCDC;
}